@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-indigo-100;
}

.wrapper {
  @apply container mx-auto px-4;
}

h1 {
  @apply text-2xl sm:text-3xl font-extrabold text-slate-900 tracking-tight text-center;
}

p {
  @apply mt-2 text-lg text-slate-700 text-center;
}

.alert {
  @apply bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded;
}

.alert .alert__title {
  @apply font-bold;
}

.alert .alert__text {
  @apply block sm:inline;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(6, minmax(0, 1fr));
  gap: 1rem;
  @apply mt-2;
}

.card {
  @apply relative;
}

.card img {
  @apply w-full block;
}

.card__front {
  width: 200px;
  height: 300px;
  transform: rotateY(90deg);
  transition: all ease-in 0.2s;
  @apply absolute drop-shadow-lg border-8 border-neutral-50
    rounded-lg bg-slate-100 overflow-hidden bg-no-repeat bg-center bg-cover;
}

.card--flipped .card__front {
  transform: rotateY(0deg);
  transition-delay: 0.2s;
}

.card__back {
  transition: all ease-in 0.2s;
  transition-delay: 0.2s;
  width: 200px;
  height: 300px;
  @apply drop-shadow-lg border-8 border-neutral-50 rounded-lg bg-indigo-400 overflow-hidden cursor-pointer;
}

.card--flipped .card__back {
  transform: rotateY(90deg);
  transition-delay: 0s;
}

.form {
  @apply mt-2 text-center;
}

@layer components {
  .form__input {
    /* @apply appearance-none border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:drop-shadow me-2; */
    @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 p-2.5 me-2;
  }
  .form__button {
    @apply py-2 px-4 bg-blue-500 text-white font-semibold rounded-lg shadow-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75;
  }
}

.score {
  @apply text-center;
}
.score__success {
  @apply text-green-700 font-bold mx-2;
}
.score {
  @apply text-center text-red-700 font-bold mx-2;
}
