@tailwind base;
@tailwind components;
@tailwind utilities;

.alert {
  @apply bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded;
}

.alert .alert__title {
  @apply font-bold;
}

.alert .alert__text {
  @apply block sm:inline;
}

.grid {
  display: grid;
  grid-template-columns: repeat(6, minmax(0, 1fr));
  gap: 1rem;
}

.front {
  width: 200px;
  height: 198px;
  object-fit: cover;
}

.card {
  position: relative;
}

.card img {
  width: 100%;
  display: block;
  border: 2px solid #000;
  border-radius: 0.5rem;
}

.card .card__front {
  transform: rotateY(90deg);
  position: absolute;
  transition: all ease-in 0.2s;
}

.card--flipped .card__front {
  transform: rotateY(0deg);
  transition-delay: 0.2s;
}

.card .card__back {
  transition: all ease-in 0.2s;
  transition-delay: 0.2s;
}

.card--flipped .card__back {
  transform: rotateY(90deg);
  transition-delay: 0s;
}

@layer components {
  .form__input {
    @apply appearance-none border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:drop-shadow;
  }
  .form__button {
    @apply py-2 px-4 bg-blue-500 text-white font-semibold rounded-lg shadow-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75;
  }
}
